#template *, #context *, #output * {
	font-family: 'Consolas', 'Consolas Bold', 'monospace';
}

#context *, #output *, body, .root, .col, textarea {
	margin: 0;
	padding: 0;
}

.markup * {
	font-family: 'Sergoe UI', 'Sergoe UI Semibold', sans-serif;
}

html, body {
	font-weight: 400;
}

textarea {
	resize: none;
}

.root {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.col {
	flex: 1;
	display: flex;
  flex-direction: column;
}

.cm-editor, #context, #output {
	font-size: 14px;
	line-height: 19.6px;
}

#template, #context, #output, .markup {
	flex: 1;
	overflow: auto;
	border: 3px solid rgb(23, 29, 27);
	outline: none;
}

.cm-editor {
	min-height: 100%;
}

#context {
	font-size: 14px;
	background-color: rgb(14, 48, 78);
	padding: 5px;
	color: #afd1d6;
}

#output {
	font-size: 14px;
	background-color: rgb(26, 39, 51);
	padding: 5px;
	color: #8d8ee2;
}

#context.invalid {
	background-color: rgb(64, 6, 6);
	color: #e99e9e;
}

#output.invalid {
	background-color: rgb(26, 13, 13);
	color: #833a3a;
}

.markup {
	padding: 5px;
}

.error {
	color: #e12d2d;
	background-color: #530d0d;
	border-radius: 3px;
	padding: 2px 5px;
	margin: 0px 4px;
}

.error .error-message {
	display: none;
	overflow: hidden;
	vertical-align: middle;
	margin-bottom: 4px;
	margin-left: 2px;
}

.error:hover .error-message {
	display: inline-block;
}